.profile__edit {
  all: unset;
  background-color: #000000;
  background-image: url(../../../images/Edit\ Button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: white;
  width: 24px;
  height: 24px;
  cursor: url(../../../images/Pointer.png), pointer;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}

.profile__edit:hover {
  opacity: 0.6;
}
