.popup__button {
    all: unset;
    margin: 0 36px 0;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    width: 358px;
    min-height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-items: center;
    cursor: url(../../../images/Pointer.png), pointer;
    transition: opacity .3s ease;
}

@media screen and (max-width: 320px) {
    .popup__button {
      width: 238px;
      min-height: 46px;
      margin: 0 22px 0;
    }
  }
  
  .popup__button:hover {
    opacity: .8;
  }